.logo-heading{
    width: 100px;
    height: 25px;
    top: 32px;
    left: 32px;
    padding: 0px;
    gap: 0px;
    opacity: 0px;
}
.header-logo-container{
    padding: 10px;
    margin: 8px;
}
.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(168, 247, 221);
    width: 100vw;
}
.header-list{
    display: flex;
    margin-right: 30px;
    list-style-type: none;
    justify-content: space-evenly;
}
.header-li{
    margin-left: 20px;
    color: rgb(12, 11, 11);
    text-decoration: underline;
    font-size: 20px;
}
.footer-container{
    text-align: center;
    padding: 20px;
    /* position: absolute; */
    bottom: 0;
    width: 100vw;
}
.footer-link{
    color: burlywood;
}
.name-label{
    font-size: 20px;
    margin: 5px;
    padding: 2px;
}
.name-input{
    font-size: 18px;
    padding: 2px;
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
}
.submit-button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(82, 240, 82);
    color: aliceblue;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
.body-contents{
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.search-input{
    width: 200px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    margin: 10px;
}

@media screen and (min-width: 537px){
    .logo-heading{
        width: 100px;
        height: 33px;
        top: 32px;
        left: 32px;
        padding: 0px;
        gap: 0px;
        opacity: 0px;
    }
    .header-logo-container{
        padding: 20px;
        margin: 10px;
    }
    .header-nav{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: rgb(168, 247, 221);
        width: 100vw;
    }
    .header-list{
        display: flex;
        margin-right: 30px;
        list-style-type: none;
        justify-content: space-evenly;
    }
    .header-li{
        margin-left: 20px;
        color: rgb(12, 11, 11);
        text-decoration: underline;
        font-size: 20px;
    }
    .footer-container{
        text-align: center;
        padding: 20px;
        /* position: absolute; */
        bottom: 0;
        width: 100vw;
    }
    .footer-link{
        color: burlywood;
    }  
    .name-label{
        font-size: 20px;
        margin: 5px;
        padding: 2px;
    }
    .name-input{
        font-size: 18px;
        padding: 2px;
        width: 200px;
        margin: 5px;
        border-radius: 5px;
        border: 2px solid black;
    }
    .submit-button{
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: rgb(82, 240, 82);
        color: aliceblue;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;
    }
    .body-contents{
        display: flex;
        flex-direction: row;
        align-items: center;

    }
}